
.master .global-register {
    width: 100%;

}

.global-register .header {
    padding: 40px 10px;
    /* margin-bottom: 20px; */
}
.global-register .header > h1 {
    color: var(--header-color);
    font-size: 30px;
    margin-bottom: 15px;
}
.global-register .header > p {
    color: var(--font-color);
}

/* add container */

.global-register .add-container {
    padding: 30px 20px;
    background-color: #FFF;
    border-radius: var(--border-radius);
    height: calc(100vh - 279px);

}

.global-register .add-container > h2 {
    color: var(--header-color);
    font-size: 25px;
}
.global-register .form-container {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}
.global-register .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.global-register .input {
    width: 75%;
}
.global-register .row input,
.global-register .row textarea,
.global-register .row select {
    width: 100%;
    /* width: 100%; */
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    border: 0.5px solid #0000003f ;
    resize: none;
    font-size: 20px;
}
.global-register label {
    color: var(--header-color);
    font-size: 20px;
}
.global-register .price-container {
    width: 100%;

    padding-left: 10px;
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    border: 1px solid #0000003f ;
    display: flex;
    flex-direction: row;
}
.global-register .price-container > span {
    display: flex;
    align-items: center;
    width: 200px;


}
.global-register .price-container > input {
    border: none;
    width: 100%;
    border-left: 1px solid #0000003f;
    border-radius: 0 10px 10px 0;
}

.global-register .size-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.size-container .size-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.global-register .button-container {
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.global-register .button {
    cursor: pointer;
    width: 45%;
    padding: 12px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    border: none;
    box-shadow: 2px 2px var(--font-color);
    font-size: 20px;
}

/* responsive */

@media (max-width: 1200px ) {

    .global-register .add-container {
        height: calc(100vh - 249px);

    }

    .global-register .header {
        padding: 25px 10px;
    }
    .global-register .header > h1 {
        /* color: var(--header-color); */
        font-size: 27px;
        /* margin-bottom: 15px; */
    }
    .global-register label {
        color: var(--header-color);
        font-size: 18px;
    }
    .global-register .input {
        width: 70%;
    }
    .global-register .row input,
    .global-register .row textarea,
    .global-register .row select {
        width: 100%;
        padding: 8px 10px;

        background-color: var(--input-background-color);
        /* border: 1px solid #0000003f ; */
        resize: none;
        font-size: 18px;
    }
    .global-register .price-container {
        width: 100%;
        padding-left: 10px;
        border-radius: var(--border-radius);
        background-color: var(--input-background-color);
        border: 0.5px solid #0000003f ;
        display: flex;
        flex-direction: row;
    }
    .global-register .price-container > span {
        width: 100px;
    }
    .global-register .price-container > input {
        border: none;
        width: calc(100% - 100px);
        border-left: 1px solid #0000003f;
        border-radius: 0 10px 10px 0;
    }
    .global-register .size-container {
        width: 100%;
        justify-content: space-between;
    }
    .size-container .size-item {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }
    .global-register .button {
        cursor: pointer;
        width: 45%;
        padding: 10px;
        border-radius: var(--border-radius);
        background-color: var(--primary-color);
        border: none;
        box-shadow: 2px 2px var(--font-color);
        font-size: 18px;
    }

}

@media (max-width: 900px ) {
    .global-register .add-container {
        height: calc(100vh - 237px);
    }
    .global-register .form-container {
        padding-left: 0;
        padding-right: 10px;
    }
    .global-register .button-container {
        padding-top: 50px;

    }
}

@media (max-width: 860px) {
    .global-register .header {
        padding: 20px 10px;
    }
    .global-register label {

        font-size: 16px;
    }
    .global-register .input {
        width: 65%;
    }
    .global-register .row input,
    .global-register .row textarea,
    .global-register .row select {
        width: 100%;
    }
    /* to check !!!!!!!!!!!!!!!!!!!!!! */
    .global-register .price-container {
        width: 100%;
    }
    .global-register .price-container > span {
        width: 100px;
    }
    .global-register .price-container > input {
        border: none;
        width: calc(100% - 100px);
        border-left: 1px solid #0000003f;
        border-radius: 0 10px 10px 0;
    }
    .global-register .size-container {
        width: 100%;
    }
}

@media (max-width: 768px ) {
    .global-register .add-container {
        height: calc(100vh - 220px);
    }
}
@media (max-width: 600px) {
    .global-register .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        /* border: 1px solid black; */
    }
    .global-register label {
        color: var(--header-color);
        font-size: 18px;

    }
    .global-register .input {
        width: 100%;
    }
    .global-register .row input,
    .global-register .row textarea,
    .global-register .row select {
        width: 100%;
    }
    .global-register .price-container {
        width: 100%;
    }
    .global-register .price-container > span {
        width: 100px;
    }
    .global-register .price-container > input {
        border: none;
        width: calc(100% - 100px);
        border-left: 1px solid #0000003f;
        border-radius: 0 10px 10px 0;
    }
    .global-register .size-container {
        width: 100%;
        gap: 10px;
    }
    .global-register .row .button-container {
        border: 2xp solid black;
    }

}
@media (max-width: 424px) {
    .global-register .header {
        padding: 10px 10px;
        /* margin-bottom: 20px; */
    }
    .global-register .add-container {
        height: calc(100vh - 200px);
    }
    .global-register .price-container > span {
        width: 50px;
    }
    .global-register .price-container > input {
        border: none;
        width: calc(100% - 50px);
        border-left: 1px solid #0000003f;
        border-radius: 0 10px 10px 0;
    }
    .global-register .header > h1 {
        font-size: 25px;
    }
    .global-register .header > p {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    .global-register .add-container {
        height: calc(100vh - 217px);
    }
    .global-register .button-container {
        padding-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;


    }
    .global-register .button {
        width: 100%;
        font-size: 16px;
    }
}

