* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#update-staff .header-container {
    padding: 1rem;
}

#update-staff .form-container {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 10px;
}
#update-staff .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
#update-staff .row-container input,
#update-staff .row-container select{
    width: 80%;
    background-color: #F7FAFF;
}
#update-staff .row-container textarea {
    width: 80%;
    background-color: #F7FAFF;
    resize: none;
}
#update-staff .row-container button {
    width: 45%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 3rem;
}
