:root {
    --primary-color: #3B76EF;
    --background-color: #D9E5FA;
    --border-radius: 10px;
    --font-color: #6d6d6d;
    --header-color: #504F54;
    --input-background-color: #F7FAFF;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }
#cat-list .search-icon {
    display: none;
}
#cat-list .header {
    display: flex;
    padding: 20px 5px ;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 50px;
}
#cat-list .header>h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--header-color);
}
#cat-list .button {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: #FFF;
    border: none;
    text-align: center;
    cursor: pointer;
}
#cat-list .add-button {
    width: 200px;
}

/* ------------------------------ */
#cat-list .add-button > i {
    margin-right: 10px;
}
/* search container */
#cat-list .search-form {
    width: 100%;
    background-color: #FFF;
    border-radius: var(--border-radius);
    padding: 25px 20px;
    margin-bottom: 2rem;
}
#cat-list .search-form .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    gap: 15px;
}
#cat-list .search-form .search-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    gap: 15px;
}
#cat-list .search-form input,
#cat-list .search-form select
{

    width: 300px;
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    border: 1px solid #0000003f ;
    resize: none;
    font-size: 16px;

}

#cat-list .search-button .button {
    width: 200px;
}


/* table list  */
#cat-list .list  {
    width: 100%;
    height: calc(100vh - 440px);

}
#cat-list .list table {

    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    border-collapse: collapse;
}
#cat-list .list  tr th {
    color: #fff;
    padding: 1rem;
    font-weight: 700;
    text-align: left;
}
#cat-list .list table tr td {
    color: var(--font-color);
    padding: .6rem;
    font-weight: 600;
}
#cat-list .list .table-header {
    background-color: var(--primary-color);
    border-radius: 10px;
}
#cat-list .list tbody tr:nth-child(odd) {
    background-color: #DFEAFD;
}

#cat-list .list tbody tr:nth-child(even) {
    background-color: #fff;
}
#cat-list .list tbody tr:hover {background-color: #ddd;}

#cat-list .list .action .action-btn {
    border: none;
    display: inline-block;
    color: var(--font-color);
    cursor: pointer;
    margin-left: 10px;
}
#cat-list .action  .del-btn i{
    color: var(--danger-color);
}
#cat-list .action-btn > i {
    font-size: 20px;
}

/* responsive */

@media (max-width: 1200px) and (min-width: 1000px) {



    #cat-list .search-form input,
    #cat-list .search-form select {

        min-width: 150px;
        padding: 10px;
        border-radius: var(--border-radius);
        background-color: var(--input-background-color);
        border: 1px solid #0000003f ;
        resize: none;
        font-size: 16px;
    }
    #cat-list .list  tr th  {
        /* padding: 10px; */
        font-size: 16px;
    }
    #cat-list .list table tr td {
        color: var(--font-color);
        font-size: 16px;
    }
}
@media (min-width: 769px) and (max-width: 1000px) {

    #cat-list .add-button {
        width: 150px;
    }

    #cat-list .search-form input,
    #cat-list .search-form select {
        min-width: 150px;
        padding: 10px;
    }
    #cat-list .search-button .button {
        width: 120px;
        padding: 13px;
    }
    /* #cat-list .list  {
        width: 100%;
        overflow-x: scroll;
    }
    #cat-list .list table  {
        width: 800px;
    } */
    #cat-list .list  tr th  {
        /* padding: 10px; */
        font-size: 16px;
    }
    #cat-list .list table tr td {
        color: var(--font-color);
        font-size: 16px;
    }
}
@media (min-width: 500px ) and (max-width: 768px) {

    #cat-list .header>h1 {
        font-size: 27px;
    }
    #cat-list .add-button {
        /* width: 130px; */
        font-size: 16px;
        padding: 12px;
    }
    /* category add btn */
    #cat-list .add-button {
        width: 150px;
        padding: 13px 5px;
    }

    #cat-list .search-form .search-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        /* border: 1px solid black; */
        width: 60%;
    }
    #cat-list .search-form input,
    #cat-list .search-form select {

        width: 160px;
        padding: 10px;
        border-radius: var(--border-radius);
        background-color: var(--input-background-color);
        border: 1px solid #0000003f ;
        resize: none;
        font-size: 15px;
    }
    #cat-list .search-button {

        height: 100px;
        /* border: 1px solid black; */
    }
    #cat-list .search-button .button {
        width: 130px;
        padding: 13px;

    }

    #cat-list .list  tr th  {
        /* padding: 10px; */
        font-size: 16px;
    }
    #cat-list .list table tr td {
        color: var(--font-color);
        font-size: 15px;
    }


}
@media (max-width: 768px ) {

    #cat-list .search-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 170px;
        font-size: 20px;
        color: var(--header-color);
    }
    #cat-list .search-form {
        display: none;
    }
    #cat-list .search-form.active {
        display: block;
    }
    #cat-list .list  {
        padding-top: 30px;
    }
}
@media (max-width: 500px) {

    #cat-list .add-button {
        width: 150px;
        /* width: fit-content; */
        padding: 13px 5px;
        /* background-color: red; */
    }

    #cat-list .search-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 170px;
        font-size: 20px;
    }
    #cat-list .search-form .form-container {
        position: relative;
        gap: 10px;
    }
    #cat-list .search-form .search-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 60%;
    }
    #cat-list .search-form input,
    #cat-list .search-form select {

        width: 100%;
        padding: 10px;
        border-radius: var(--border-radius);
        background-color: var(--input-background-color);
        border: 1px solid #0000003f ;
        resize: none;
        font-size: 15px;
    }
    #cat-list .search-form select {
        position: absolute;
        width: 60%;
        min-width: 80px;
        top: 1px;
        font-size: 14px;
    }
    #cat-list .search-form input {
        position: absolute;
        width: 100%;
        top: 70px;
    }
    #cat-list .search-button {

        height: 100px;
    }
    #cat-list .search-button .button {
        width: 100%;
        padding: 11px;
        font-size: 13px;
        /* background-color: red; */

    }
    #cat-list .header>h1 {
        font-size: 23px;
    }

    /*  */
    /* #cat-list .list  {
        width: 100%;
        overflow-x: scroll;
    }
    #cat-list .list table  {
        width: 750px;
    } */
    #cat-list .list  tr th  {
        /* padding: 10px; */
        font-size: 16px;
    }
    #cat-list .list table tr td {
        color: var(--font-color);
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    #cat-list .search-icon {
        display: block;
        position: absolute;
        top: 30px;
        left: 120px;
        font-size: 20px;
    }
}
