* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.body_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../img/admins/adminloginbg.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;


}

.body_container .form {
    margin: 0 auto;

    background-color: #8BB4C2;
    color: #FFF;
    width: fit-content;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    /* height: 500px; */
}
.form>h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.form>h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.form>p {
    margin-bottom: 2rem;
}
.form .input_container {
    /* border: 1px solid red; */
    width: 20rem;
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

}
.input_container input {
    background-color: transparent;
    border: none;
    outline: none;
    /* width: 100%; */
    border-bottom: 1px solid #FFF;
    font-size: 16px;
    padding: 5px;
}
.error {
    color: red;
    padding-left: 2rem;
    font-size: 14px;
}
.form input::placeholder {
    font-weight: 600;
}


.login-btn {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    margin-top: 2rem;
}

#visible {
    display: none;
}
/* #visible.active {
    display: block;
}
#hidden.active {
    display: block;
} */



/* Responsive  */

@media (max-width: 451px) {

    .form {
        padding: 2rem;
    }
    .form input {
        width: fit-content;
    }
}

