*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#about-us .main-container {
    width: 100%;
}
#about-us .header {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-us .header>h1 {
    color: #FFF;
}
#about-us .first-data {
    width: 100%;
    height: 500px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #D4DCEC;
    position: relative;
}
#about-us .data {
    width: 600px;
    text-align: center;
    margin-top: 1rem;
    line-height: 25px;
}

#about-us .sec-data {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDF2FB;
    position: relative;
}
#about-us .third-data {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D4DCEC;
    position: relative;
}
#about-us .fourth-data {
    width: 100%;
    height: 600px;
    padding-bottom: 3rem;
    /* margin-bottom: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #EDF2FB;
}

#about-us .img-container {
    width: 700px;
    height: 450px;
    position: absolute;
    bottom: -225px;
    z-index: 10;

}
#about-us .img-container>img {
    width: 100%;
    height: 100%;
}
